In [2]:
import pandas as pd

PROJECT_NAMES = {
    'camel': 'Camel',
    'ignite': 'Ignite',
    'hadoop': 'Hadoop',
    'flink': 'Flink',
    'hbase': 'HBase',
    'cassandra': 'Cassandra',
    'groovy': 'Groovy',
    'hive': 'Hive',
    'activemq': 'ActiveMQ',
    'hadoop-hdfs': 'HDFS',
    'kafka': 'Kafka',
    'spark': 'Spark',
    'zeppelin': 'Zeppelin',
    'hadoop-mapreduce': 'Mapreduce',
    'zookeeper': 'Zookeeper'
}

COLUMN_NAMES = {
    'project': 'Project',
    'commit_id': '\# commits',
    'buggy': '\# buggy',
    'fix': '\# fixes',
    'nonbuggy': '\# non-buggy'
}

apachejit = pd.read_csv(filepath_or_buffer="../data/apache-jit/apachejit_total.csv").reset_index()
apachejit["project"] = apachejit["project"].apply(lambda p: PROJECT_NAMES[p[7:]])
apachejit["buggy"] = apachejit["buggy"].apply(lambda p: 1 if p else 0)
apachejit["fix"] = apachejit["fix"].apply(lambda p: 1 if p else 0)
apachejit["nonbuggy"] = apachejit["buggy"].apply(lambda p: 1 - p)

c = apachejit.loc[:, ["project", "commit_id", "buggy", "fix", "nonbuggy", "year"]] \
    .groupby('project') \
    .agg({"commit_id": "count", "buggy": "sum", "fix": "sum", "nonbuggy": "sum", "year": ["min", "max"]})\
    .rename(mapper=COLUMN_NAMES, axis="columns")\
    .sort_values(by="project", ascending=True)

c["year range"] = c["year"]["min"].transform(lambda x: str(x) + "-") + c["year"]["max"].transform(lambda x: str(x))

c.drop(("year", "min"), axis="columns", inplace=True)
c.drop(("year", "max"), axis="columns", inplace=True)
c.columns = c.columns.droplevel(1)
c

           \# commits  \# buggy  \# fixes  \# non-buggy year range
project
ActiveMQ         6126      1404       390          4722  2005-2019
Camel           22700      3078       735         19622  2007-2019
Cassandra        8159      3117      1316          5042  2009-2019
Flink           11691      2811       682          8880  2010-2019
Groovy           8059      1614       573          6445  2003-2019
HBase            8730      3782      1730          4948  2007-2019
HDFS             2907      2222       811           685  2009-2019
Hadoop          11964         0         0         11964  2009-2019
Hive             6842      4223      2382          2619  2008-2019
Ignite          12036      2439       653          9597  2014-2019
Kafka            2384      1115       435          1269  2011-2019
Mapreduce        1321       838       495           483  2009-2019
Spark            1465       632       130           833  2010-2019
Zeppelin         1451       622       214           829  2013-2019
Zookeeper         839       342       144           497  2007-2019

In [6]:
all_data=pd.read_csv(filepath_or_buffer="../data/merged-defects/prejoined_full.csv", sep=",")
all_data.isna().sum()

project                             0
revision                            0
entity                              0
JAVAMETRICS_access_modifier    683112
JAVAMETRICS_is_static          666221
                                ...
age                                 0
nuc                                 0
aexp                                0
arexp                               0
asexp                               0
Length: 93, dtype: int64

In [7]:
all_data.max()

C:\Users\Ja\AppData\Local\Temp\ipykernel_26580\3334004817.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_data.max()

project                                                 zookeeper
revision                 ffff2997a5c82386a6428744f39b808a3fb49538
entity                                           wordfreq$Counter
JAVAMETRICS_is_static                                       False
JAVAMETRICS_is_final                                         True
                                           ...
age                                                   2713.057143
nuc                                                        3704.5
aexp                                                        15795
arexp                                                     4841.25
asexp                                                      7842.0
Length: 92, dtype: object

In [9]:
all_data.min()

C:\Users\Ja\AppData\Local\Temp\ipykernel_26580\3120572194.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_data.min()

project                                                         activemq
revision                        0000e4462e7343152ee0f6730fc8e50e8810b7f4
entity                    eu.stratosphere.pact.runtime.hash.HashFunction
JAVAMETRICS_is_static                                              False
JAVAMETRICS_is_final                                               False
                                              ...
age                                                                  0.0
nuc                                                                  0.0
aexp                                                                   0
arexp                                                                0.0
asexp                                                                0.0
Length: 92, dtype: object

In [10]:
all_data[all_data["JAVAMETRICS_LOC_C"] < 0]

,project,revision,entity,JAVAMETRICS_access_modifier,JAVAMETRICS_is_static,JAVAMETRICS_is_final,JAVAMETRICS_CYCLO,JAVAMETRICS_LD,JAVAMETRICS_LOC_M,JAVAMETRICS_LOC_C,...,nf,nd,ns,ent,ndev,age,nuc,aexp,arexp,asexp
509964,hadoop,86c95cb31a392d2ee4dcf3cc36e924ad34000b27,org.apache.hadoop.hdfs.protocolPB.Reconfigurat...,public,False,False,NaN,0.0,NaN,-1.0,...,13,6,1,3.353544,6.0,19.846154,294.153846,329,195.833333,218.0