In [33]:
import pandas as pd

PROJECT_NAMES = {
    'camel': 'Camel',
    'ignite': 'Ignite',
    'hadoop': 'Hadoop',
    'flink': 'Flink',
    'hbase': 'HBase',
    'cassandra': 'Cassandra',
    'groovy': 'Groovy',
    'hive': 'Hive',
    'activemq': 'ActiveMQ',
    'hadoop-hdfs': 'HDFS',
    'kafka': 'Kafka',
    'spark': 'Spark',
    'zeppelin': 'Zeppelin',
    'hadoop-mapreduce': 'Mapreduce',
    'zookeeper': 'Zookeeper'
}

COLUMN_NAMES = {
    'project': 'Project',
    'commit_id': '\# commits',
    'buggy': '\# buggy',
    'fix': '\# fixes',
    'nonbuggy': '\# non-buggy'
}

apachejit = pd.read_csv(filepath_or_buffer="../data/apache-jit/apachejit_total.csv").reset_index()
apachejit["project"] = apachejit["project"].apply(lambda p: PROJECT_NAMES[p[7:]])
apachejit["buggy"] = apachejit["buggy"].apply(lambda p: 1 if p else 0)
apachejit["fix"] = apachejit["fix"].apply(lambda p: 1 if p else 0)
apachejit["nonbuggy"] = apachejit["buggy"].apply(lambda p: 1 - p)

c = apachejit.loc[:, ["project", "commit_id", "buggy", "fix", "nonbuggy", "year"]] \
    .groupby('project') \
    .agg({"commit_id": "count", "buggy": "sum", "fix": "sum", "nonbuggy": "sum", "year": ["min", "max"]})\
    .rename(mapper=COLUMN_NAMES, axis="columns")\
    .sort_values(by="project", ascending=True)

c["year range"] = c["year"]["min"].transform(lambda x: str(x) + "-") + c["year"]["max"].transform(lambda x: str(x))

c.drop(("year", "min"), axis="columns", inplace=True)
c.drop(("year", "max"), axis="columns", inplace=True)
c.columns = c.columns.droplevel(1)
c

           \# commits  \# buggy  \# fixes  \# non-buggy year range
project
ActiveMQ         6126      1404       390          4722  2005-2019
Camel           22700      3078       735         19622  2007-2019
Cassandra        8159      3117      1316          5042  2009-2019
Flink           11691      2811       682          8880  2010-2019
Groovy           8059      1614       573          6445  2003-2019
HBase            8730      3782      1730          4948  2007-2019
HDFS             2907      2222       811           685  2009-2019
Hadoop          11964         0         0         11964  2009-2019
Hive             6842      4223      2382          2619  2008-2019
Ignite          12036      2439       653          9597  2014-2019
Kafka            2384      1115       435          1269  2011-2019
Mapreduce        1321       838       495           483  2009-2019
Spark            1465       632       130           833  2010-2019
Zeppelin         1451       622       214           829  2013-2019
Zookeeper         839       342       144           497  2007-2019